body{
    background-color: #091547;
}
a {
    color: blue;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
#banner {
    background-color: #3b69ff;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    margin-top: 2rem;
    border-radius: 2rem;
  
  }

.polygon {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.polygon_2 {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.polygon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.polygon_2:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.polygon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('https://chess.dungtoken.com/test/DungToken_Logo.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.polygon:hover:before {
    opacity: 1;
}
.polygon_2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('https://chess.dungtoken.com/test/DungToken_Logo.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.polygon_2:hover:before {
    opacity: 1;
}

@media (max-width: 767px) {
    .polygon {
        width: 100%;
        margin: 10px 0;
    }
}