.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

a {
  text-decoration: none;
  position: relative;
  /* top: 5%; */
  left: 2%;
  bottom: 9rem;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(236, 241, 151);
}


h1 {
  position: absolute;
  top: 5%;
  left: 35%;
}

h2 {
  position: absolute;
  top: 15%;
  left: 33%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ov {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ov a {
  margin: 0.2rem 0;
  padding: 0.2rem;
  text-align: center;

  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 768px) {
  h1 {
    position: static;
    margin-top: 5rem;
    text-align: center;
  }

  h2 {
    position: static;
    margin: 2rem;
    text-align: center;
  }

  a {
    bottom: 19rem;
    font-size: 3rem;
  }

  body {
    background-image: url("./assests/dungtoken-bg-.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}