.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}


/* Styling for the top banner */
#banner {
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  margin-top: 2rem;

}

/* Styling for the two even columns */
#columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem;
  display: grid;
  color: #4c0bf0;
  gap: 4.2rem;
  grid-template-columns: 1fr 1fr;
  max-width: fit-content;
  margin-left: 9rem;
}

.column {
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 12px;
  display: flex;

}

.column {
  font-size: 2rem;
}

.column h4 {
  margin-left: 4rem;
  margin-top: 4rem;
  cursor: pointer;
}

.column:hover {
  border: 2px solid blueviolet;
  color: #fff;

}


/* Styling for the page footer */
#footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}



@media screen and (max-width: 768px) {
  #columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .column h2 {
    margin-left: 2rem;
  }

  .column img {
    display: none;
  }

}

@media screen and (max-width: 1020px) {
  #columns {
    gap: 0.5rem;
  }



  .column img {
    display: none;
  }

}